<header class="header">
  <div class="logo-section">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy8Le8SEMIx7KaIujW0yUoA0QaDfiNCjr2_w&s" alt="Company Logo" class="logo" />

    <div class="deliver-to">
      <img src="https://imgcdn.floweraura.com/ssr-build/static/media/location-icon.fdb819c5.svg" alt="navigation_icon">
      <span>Home Delivery available</span>
    </div>
  </div>

  <div class="icons-section">
    <div class="icon-item" (click)="onContactClick()">
      <img src="https://www.svgrepo.com/show/9669/smartphone.svg" alt="Contact Icon" class="icon" />
      <span>Contact</span>
    </div>
    <div class="icon-item">
      <img src="https://www.svgrepo.com/show/503830/gift-box.svg" alt="Gift Finder Icon" class="icon" />
      <span>Gift Finder</span>
    </div>
    <div class="icon-item">
      <img src="https://www.svgrepo.com/show/452178/cart.svg" alt="Cart Icon" class="icon" />
      <span>Cart</span>
    </div>
  </div>
</header>
