.product-details {
  display: flex;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.image-gallery {
  width: 40%;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

.main-image img {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.thumbnails {
  display: flex;
  flex-direction: column;
}

.thumbnails img {
  margin-right: 10px;
  cursor: pointer;
}

.thumbnails img:hover {
  border: 2px solid #007bff;
}

.product-info {
  width: 60%;
}

.product-info h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.product-info .price {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.actions {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.actions .add-to-cart, .actions .buy-now {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.actions .buy-now {
  background-color: #28a745;
}

.additional-info {
  margin-top: 30px;
}

.similar-products, .special-additions {
  margin-bottom: 20px;
}

.similar-products h2, .special-additions h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.similar-item, .addition-item {
  display: inline-block;
  width: 19%;
  margin-right: 1%;
  text-align: center;
}

.similar-item .card, .addition-item .card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.similar-item .card:hover, .addition-item .card:hover {
  transform: translateY(-5px);
}

.similar-item img, .addition-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-details {
      flex-direction: column;
      padding: 10px;
  }

  .image-gallery {
      width: 100%;
      margin-right: 0;
  }



  .product-info {
      width: 100%;
      margin-top: 20px;
  }

  .product-info h1 {
      font-size: 24px;
  }

  .product-info .price {
      font-size: 20px;
  }

  .actions .add-to-cart, .actions .buy-now {
      padding: 10px 20px;
      font-size: 14px;
      margin-right: 5px;
  }

  .similar-item, .addition-item {
      width: 48%;
      margin-right: 2%;
      margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .thumbnails img {
      width: 80%;
      height: 90px;
      margin-bottom: 10px;
      border-radius: 20px !important;
  }

  .similar-item, .addition-item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
  }

  .actions .add-to-cart, .actions .buy-now {
      width: 50%;
      margin-bottom: 10px;

  }
}
