.category-container {
  padding: 10px;
  background-color: #ffffff;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.product-grid {
  display: grid;
  gap: 10px;
  justify-content: center;
  /* Default desktop layout */
  grid-template-columns: repeat(4, 0.5fr); /* Adjust the number of columns as needed */
}

/* Mobile view */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2,1fr); /* Two columns layout for mobile */
  }
}

.product-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
}

.image-container {
  position: relative;
  margin-bottom: 10px;

}

.image-container img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.product-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.price {
  font-size: 16px;
  color: #007bff;
  margin-bottom: 10px;
}
